* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #e1e4ec;
}
nav {
  /* background-color: rgb(239, 202, 156); */
  display: flex;
  width: 100%;
  height: 80px;
  margin: auto;
  padding: 20px 0;
  align-content: center;
  justify-content: space-between;

}
nav ul li{
    display: inline-block;
list-style: none;
margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    padding: 7px 13px;
}
nav ul li a:hover{
  background: #1b9bff;
  transition: .5s;
  color: black;
  font-weight: bolder;
  border-radius: 3px;
}
.detel{
  /* margin: 15% 8% 0 0; */
  margin-left: 8%;
  margin-top: 13%;
}
.detel h1{
  font-size: 50px;
  color: #212121;
  margin-bottom: 20px;

}

span{
  color: orange;

}

.detel p{
  color: #555;
  line-height: 22px;

}
.detel a{
  background: #212121;
padding: 10px 18px;
text-decoration: none;
font-weight: bold;
color: white;
display: inline-block;
margin: 30px 0;
border-radius: 5px;
}
.detel a:hover{
  color: rgb(245, 189, 78);
}
.images{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 100px;

}
.images img{
  height: 100%;
position: absolute;
left: 50%;
bottom: 0;
transform: translateX(-50%);
transition: bottom 1s,left 1s;
}
.images:hover .shape{
    bottom: 40px;

}
.images:hover .boy{
    left: 45%;
}
.checkbtn{
  /* background-color: beige; */
  font-size: 40px;
  display: none;
   /* position: absolute; */
  /* justify-content: center; */
  float: right;
  line-height: 40px;
  margin-right: 40px;
  cursor: pointer;
}
#check{
  display: none;
}